body{
  background-image: url('./poison.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
 
}


.add-sentence{
  font-family: 'Courier New', Courier, monospace;
  float: left;
}

#input{
  font-family: 'Courier New', Courier, monospace;
}

#h1{
  color: #61DAFB;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  border: 2px solid #61DAFB;
  background-color: black;
  border-radius: 5px;
  width: 400px;
}


h2{
  color: #61DAFB;
}

button{
  color: rgb(0, 33, 43);
  background-color:#61DAFB;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}


#inputs{
  color: red;
}


#input{
  color: red;
  width: 400px;
  height: 20px;
}


footer{
  height: auto;
  margin: auto;
  line-height: 60px;
  font-size: 15px; 
  background-color: black;
  color: rgb(207, 18, 18);
  border-radius: 15px;
  border: 2px solid red;
  display: flex;
  background-color: black;
  color: rgb(233, 14, 14);
  flex-direction: row;
  float: right;
  align-items: center;
  bottom: 0;
}

a{
  margin-right: 10px;
  margin-left: 10px;
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

a:hover {
  color: blue;
}

a:active {
  color: yellow;
}

table{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border-collapse: collapse;
}

th, td{
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 15px;
  background-color: black;
}


.Poison {   
  background-image: url(./poison.jpg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: cross-fade();
}

.inputs{
  margin: 100px;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  
  
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #61DAFB;
  border-radius: 5px;
  background-image: url(./poison.jpg); 
  background-position: center;
  background-size: cover;


}
.InputForm{
  

}


#check{
  background-color: black;
  width: 200px;
}

#view{
  background-color: black;
  text-align: center;
  width: 300px;
  
}

#toxic-points{
  color: yellow;
  font-size: 25px;
  background-color: black;
  border: 1px solid yellow;
  border-radius: 5px;
  text-align: center;
}

.ToxicTable{
  
  color: #61DAFB;
  
}

#show-sentence{
  background-color: black;
  color: red;
  margin: auto;
  width: auto;
}




